.jp-VarInspector {
  flex-direction: column;
  overflow: auto;
  font-size: var(--jp-ui-font-size1);
}

.jp-VarInspector-table {
  font-family: monospace;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  color: var(--jp-content-font-color1);
}

.jp-VarInspector-table td,
.jp-VarInspector-table thead {
  border: 1px solid;
  border-color: var(--jp-layout-color2);
  padding: 8px;
}

.jp-VarInspector-table tr:nth-child(even) {
  background-color: var(--jp-layout-color1);
}

.jp-VarInspector-content tr:hover {
  background-color: var(--jp-layout-color2);
}

.jp-VarInspector-table thead {
  font-size: var(--jp-ui-font-size0);
  text-align: center;
  background-color: var(--jp-layout-color2);
  color: var(--jp-ui-font-color1);
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.jp-VarInspector-title {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-content-font-color1);
  text-align: left;
  padding-left: 10px;
}

.filter-container {
  display: flex;
  flex-direction: column;
}

.filter-search-container {
  display: flex;
  padding: 0 1rem;
}

.filter-type {
  background-color: var(--jp-ui-font-color2);
  color: var(--jp-ui-font-color1);
  box-shadow: inset 0 0 0 var(--jp-border-width) var(--jp-input-border-color);
  border: none;
  padding: 0 0.5rem;
  text-align: center;
}

.filter-input {
  width: 20rem !important;
  margin-left: 1rem;
}

.filter-button {
  background-color: var(--jp-ui-font-color2);
  color: var(--jp-ui-font-color1);
  box-shadow: inset 0 0 0 var(--jp-border-width) var(--jp-input-border-color);
  border: none;
  padding: 0 0.5rem;
}

.filtered-variable-button {
  background-color: transparent;
  box-shadow: inset 0 0 0 var(--jp-border-width) var(--jp-input-border-color);
  border: none;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filtered-variable-button-text {
  color: var(--jp-ui-font-color1);
  background-color: transparent;
}

.type-button {
  color: var(--jp-ui-font-color0);
}

.name-button {
  color: var(--jp-ui-font-color1);
}

.filter-list {
  display: flex;
}

.jp-VarInspector-table-row-hidden {
  display: none;
}

.jp-VarInspector-deleteButton {
  text-align: center;
  width: 1em;
}

.jp-VarInspector-inspectButton {
  text-align: center;
  width: 1em;
}

.jp-VarInspector-varName {
  font-weight: 600;
}
