.jp-VarInspector{
    flex-direction: column;
    overflow: auto;
	font-size: var(--jp-ui-font-size1);
}


.jp-VarInspector-table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

.jp-VarInspector-table td, .jp-VarInspector-table thead{
    border: 1px solid #ddd;
    padding: 8px;
}

.jp-VarInspector-table tr:nth-child(even){
    background-color: #f9f9f9;
}

.jp-VarInspector-content tr:hover {background-color: #ddd;}


.jp-VarInspector-table thead{
	font-size: var(--jp-ui-font-size1);
    text-align: center;
    height: 50px;
    background-color: #f37726;
    color: white;
}

.jp-VarInspector-title {
	font-size: var(--jp-ui-font-size1);
	text-align: center;
}



